{
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "settings": {
    "import/core-modules": [
      "react",
      "config",
      "styled-components",
      "react-helmet",
      "bluebird",
      "unist-util-select",
      "fs-extra"
    ]
  },
  "rules": {
    "no-console": 1,
    "no-unused-vars": 1,
    "no-underscore-dangle": 0
  },
  "plugins": ["import", "react"]
}
